<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"
      integrity="sha512-z+/WWfyD5tccCukM4VvONpEtLmbAm5LDu7eKiyMQJ9m7OfPEDL7gENyDRL3Yfe8XAuGsS2fS4xSMnl6d30kqGQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/base16/solarized-dark.min.css"
      integrity="sha512-JPpsArcPmVD/lHCCuZeG6Kx4x2qURRXHXxKYaXYJiKEKaoLOcXKDYqQ4jSeauXbk+U6uZ1UzrGO85y+lpys0Og=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script>
      hljs.highlightAll();
    </script>
    <title>Code | usebin</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/_buttons.ejs', {id: locals.id}) %>
    <div class="wrapper">
      <div class="line-number">
        <% for(let i=1; i <= locals.value.split('\n').length ; i++) { %>
        <div><%= i %></div>
        <% } %>
      </div>
      <pre><code id='code-display' class="<%= locals.language ? `language-${locals.language}`:'' %>"><%= value %></code></pre>
    </div>
    <script>
      const buttons = document.querySelectorAll("button");
      buttons[0].setAttribute("disabled", true);
    </script>
  </body>
</html>
